html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: url(/static/imgs/page-wrapper.png) repeat;
    /*background: #1A1A1A url(/static/imgs/main-wrapper.png) repeat;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 1pt;
    color: #4F4F4F;
}

#main {
    /*background: url(/static/imgs/page-wrapper.png) repeat;*/
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    /*background: url(/static/imgs/page-wrapper.png) repeat;*/
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p, ol, ul {
    margin-top: 0px;
}

p {
    line-height: 180%;
}

strong {
}

a {
    color: #17689D;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

img.border {
}

img.alignleft {
    float: left;
    margin-right: 40px;
}

img.alignright {
    float: right;
}

img.aligncenter {
    margin: 0px auto;
}

hr {
    display: none;
}

.container {
    width: 1400px;
    margin: 0px auto;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*height: 100%;*/
}

/* List style 4 */

ul.style1 {
    overflow: hidden;
    margin: 0em;
    padding: 0em;
    list-style: none;
}

ul.style1 li {
    padding: 1.50em 0em 1.50em 0em;
    border-top: 1px solid #CFCFCF;
}

ul.style1 a {
    text-decoration: none;
    color: #7C7C7C;
}

ul.style1 a:hover {
    text-decoration: underline;
}

ul.style1 h3 {
    padding: 0 0 0.75em 0;
    font-size: 1.10em;
    font-weight: 400;
    color: #4F4F4F;
}

ul.style1 .first {
    padding-top: 0;
    border-top: none;
}

/* List Style 2 */

ul.style2 {
    overflow: hidden;
    margin: 0em;
    padding: 0em;
    list-style: none;
}

ul.style2 li {
    padding: 1.00em 0em 2.75em 0em;
    border-top: 1px solid #E2E2E2;
}

ul.style2 a {
    text-decoration: none;
    color: #4e4e4e;
}

ul.style2 a:hover {
    text-decoration: underline;
}

ul.style2 img {
    float: left;
    margin-right: 1.5em;
    border-radius: 5px;
}

ul.style2 .first {
    padding-top: 0;
    border-top: none;
}

.copyrights {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

/* List style 3 */

ul.style3 {
    margin: 0em;
    padding: 0em 0em 0em 0em;
    list-style: none;
}

ul.style3 li {
    padding: 1.75em 0em 1.50em 0em;
    border-top: 1px solid #474747;
}

ul.style3 .heading-title {
    font-size: 1.10em;
    font-weight: 400;
    color: #EBEBEB;
}

ul.style3 .date {
    display: inline-block;
    margin: 0em 1em 1em 0em;
    text-transform: uppercase;
    font-size: .80em;
    background: #17689D;
    border-radius: 5px;
    border: 1px solid #3B98D4;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .4);
    color: #FFFFFF;
}

ul.style3 .date a {
    display: inline-block;
    padding: .5em 1em;
    letter-spacing: 1px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.10em;
    font-weight: 400;
    color: #FFFFFF;
    box-shadow: inset 1px 1px 1px #064670;
}

ul.style3 a {
    text-decoration: none;
    color: #919191;
}

ul.style3 a:hover {
    text-decoration: underline;
}

ul.style3 .first {
    border-top: none;
}

/* List style 4 */

ul.style4 {
    overflow: hidden;
    margin: 0em;
    padding: 0em;
    list-style: none;
}

ul.style4 li {
    padding: 1.50em 0em 1.50em 0em;
    border-top: 1px solid #474747;
}

ul.style4 a {
    text-decoration: none;
    color: #919191;
}

ul.style4 a:hover {
    text-decoration: underline;
}

ul.style4 h3 {
    padding: 0 0 0.75em 0;
    font-size: 1.10em;
    font-weight: 400;
    color: #EBEBEB;
}

ul.style4 .first {
    padding-top: 0;
    border-top: none;
}

/** WRAPPER */

#wrapper {
    overflow: hidden;
    /*background: url(/static/imgs/page-wrapper.png) repeat;*/
    flex: 1 0 auto;
}

.clearfix {
    clear: both;
}

/** HEADER */

#header {
    overflow: hidden;
    height: 120px;
    flex: 0 0 auto;
}

/** LOGO */

#logo {
    float: left;
    width: 400px;
}

#logo h1, #logo p {
    margin: 0px;
    line-height: normal;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#logo h1 a {
    display: block;
    padding: 45px 0px 0px 0px;
    letter-spacing: -2px;
    font-weight: 400;
    font-size: 40px;
    color: #0C0C0C;
}

#logo p {
    margin-top: -5px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 12px;
    color: #7C7C7C;
}

#logo a {
    text-decoration: none;
    color: #7C7C7C;
}

/** MENU */

#menu {
    float: right;
    width: 600px;
}

#menu ul {
    float: right;
    margin: 0px;
    padding: 60px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #0C0C0C
}

#menu a:hover {
    text-decoration: underline;
}

#menu .active a {
    background: #17689D;
    border-radius: 5px;
    border: 1px solid #3B98D4;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .4);
}

#menu .active a {
    display: inline-block;
    padding: .5em 1em;
    letter-spacing: 1px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
    box-shadow: inset 1px 1px 1px #064670;
}

/** BANNER */

#banner {
    overflow: hidden;
    /*height: 500px;*/
    margin: 3em auto;
    /*background: linear-gradient(50deg, rgb(87, 160, 255), rgb(81, 255, 182));*/
    /*background: #17689D;*/
}

#banner #column1 {
    float: left;
    width: 548px;
    padding: 40px 30px 20px 30px;
    /*color: #FFFFFF;*/
}

#banner #column1 h2 {
    padding: 0px 0px 20px 0px;
    letter-spacing: -1px;
    font-size: 30px;
    font-weight: 400;
}

#banner #column2 {
    float: left;
    width: 492px;
}

/** PAGE */

#page {
    overflow: hidden;
    padding: 2em 0em 3em 0em;
}

/** CONTENT */

#content {
    float: left;
    width: 772px;
    padding: 0px 20px 0px 0px;
}

#content h2 {
    padding: 0px 0px 20px 0px;
    letter-spacing: -2px;
    text-shadow: 1px 1px 1px #FFFFFF;
    font-size: 40px;
    font-weight: 400;
}

#content h3 {
    margin-top: -15px;
    padding: 0px 0px 5px 0px;
    font-size: 14px;
}

/** SIDEBAR */

#sidebar {
    float: right;
    width: 384px;
}

#sidebar h2 {
    padding: 0px 0px 20px 0px;
    letter-spacing: -1px;
    text-shadow: 1px 1px 1px #FFFFFF;
    font-size: 30px;
    font-weight: 400;
}

/* Footer */

#footer {
    overflow: hidden;
    border-top: 1px solid #474747;
}

#footer p {
    padding: 4em 0em;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .50);
    color: #919191;
}

#footer a {
    color: #919191;
}

#footer-content {
    background: url(/static/imgs/main-wrapper.png) repeat;
    overflow: hidden;
    /*padding: 5em 0em 3em 0em;*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .50);
    color: #919191;
    flex: 0 0 auto;
}

#footer-content h2 {
    padding: 0em 0em 1.50em 0em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .50);
    font-weight: 300;
    color: #FFFFFF;
}

#footer-content #fbox1 {
    float: left;
    width: 384px;
    margin-right: 24px;
}

#footer-content #fbox2 {
    float: left;
    width: 384px;
}

#footer-content #fbox3 {
    float: right;
    width: 384px;
}

/*navigation begin*/
.top-nav {
    margin-top: 15px;
    background: #1CD5B5;
    padding: 1.5em 0;
}

.top-nav ul {
    padding: 0;
    margin: 0;
}

.top-nav ul li {
    display: inline-block;
    margin: 0;
    float: left;
}

.top-nav ul li a {
    color: #FFF;
    font-size: 17px;
    padding: 1.3em 4.8em 1.35em;
    text-decoration: none;
}

.top-nav ul li a.active {
    background: #00a78e;
}

.top-nav ul li a:hover {
    background: #00a78e;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

/*navigation end*/

/*search.css begin*/
#json {
    margin: 10px 10px 10px 32px;
    width: 100%;
    min-height: 300px;
}

#legend {
    display: inline;
    margin-left: 30px;
}

#legend h2 {
    display: inline;
    font-size: 18px;
    margin-right: 20px;
}

#legend a {
    color: white;
    margin-right: 20px;
}

#legend span {
    padding: 2px 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    background-color: black;
}

#legend .string {
    background-color: #009408;
}

#legend .array {
    background-color: #2D5B89;
}

#legend .object {
    background-color: #E17000;
}

#legend .number {
    background-color: #497B8D;
}

#legend .boolean {
    background-color: #B1C639;
}

#legend .null {
    background-color: #B1C639;
}

#expander {
    cursor: pointer;
    margin-right: 20px;
}

label[for="json"] {
    margin-left: 30px;
    display: block;
}

#json-note {
    margin-left: 30px;
    font-size: 12px;
}

.addthis_toolbox {
    position: relative;
    top: -10px;
    margin-left: 30px;
}

#disqus_thread {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

/*search.css end*/